{% extends "dashboard_base.html" %}
{% load render_bundle from webpack_loader %}

{% block title %}
tilbakemeldingsskjema - Online Dashboard
{% endblock title %}

{% block page-header %}
Tilbakemeldinger
{% endblock %}

{% block breadcrumbs %}
    <li>Feedback</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
            <p>{{ feedback }}</p>
            {% for question in text_questions %}
                <p>Spørsmål: {{ question }} Rekkefølge: {{ question.order }} Vis til bedrift: {{ question.display }}</p>
            {% endfor %}
    </div>
</div>
<br />
{% endblock content %}
