{% extends "dashboard_base.html" %}
{% load render_bundle from webpack_loader %}

{% block title %}
Tilbakemelding - Online Dashboard
{% endblock title %}

{% block page-header %}
Tilbakemeldinger
{% endblock %}

{% block breadcrumbs %}
    <li>Feedback</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        {% for result in results %}
            <a href=" {% url 'dashboard_feedback_edit' result.feedback_id %}">{{ result }}</a>
            <p>---------</p>
        {% endfor %}
    </div>
</div>
<br />
{% endblock content %}
